// Typography
$heading-font: "Poppins", sans-serif;
$body-font: "regular", sans-serif;

//Color
$text: #6b6b6b;
$heading-text: #374a5e;
$border: #e0e0e0;
// $border-2: #dee2e6;

$white: #fff;
$black: #000;
// $bg-lighter: #f7f8fa;

$primary: #40a2d5;
$secondary: #6b5ee1;

//Color
$color-1: #42b918;
$color-2: #fe8432;
$color-3: #fafafa;
$color-4: #fe8432;
$color-5: #f4f4f4;
$color-6: #f9f9f9;
// Brand Color
$fb: #3b5998;
$tw: #1da1f2;
$ins: #f56040;
$in: #0077b5;
$be: #1769ff;
$dbl: #ea4c89;
