.number {
  span {
    color: #313131;
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
  }
  &-1 {
    position: relative;

    &::before {
      content: "";
      width: 76px;
      height: 76px;
      background-color: $primary;
      border-radius: 5px 38px 5px 38px;
      top: 25px;
      left: -35px;
      display: block;
      position: absolute;
      z-index: -999;
    }
  }
  &-2 {
    position: relative;

    &::before {
      content: "";
      width: 76px;
      height: 76px;
      background-color: rgba(254, 132, 50, 0.52);
      border-radius: 5px 38px 5px 38px;
      top: 25px;
      left: -35px;
      display: block;
      position: absolute;
      z-index: -999;
    }
  }
  &-3 {
    position: relative;

    &::before {
      content: "";
      width: 76px;
      height: 76px;
      background-color: #b5e4a5;
      border-radius: 5px 38px 5px 38px;
      top: 25px;
      left: -35px;
      display: block;
      position: absolute;
      z-index: -999;
    }
  }
}
