.social {
  &-item {
    margin-right: 15px;
    &:last-child {
      margin-right: none;
    }
  }
  &-icon {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 1;
    background: $primary;
    color: $white;
    border-radius: 5px;
  }
}
hr {
  margin-top: 20px;

  @include md-screen {
    margin-top: 25px;
  }
  @include lg-screen {
    margin-top: 30px;
  }
}
